@charset "UTF-8";
@font-face {
    font-family: "amelias";
    src: url(fonte/xilosa_.ttf) format(truetype);
}

body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace, serif;
    margin: auto;   
}

.header {
    font-size: x-large;
    display: flex;
    margin: auto;
    padding: 30px;
    flex-direction: column;

    @media screen (min-width: 600px){
        flex-direction: row;
    }
}
.header img {
    margin-bottom: 30px;
    width: 100%;
    min-width: 320px;
    max-width: 600px;
}

main {
    margin: 3px;
    display: flex;
    padding: 26px;
}

h1 {
    font-family: 'amelias';
    text-align: center;
    color: #0D0D0D;
    margin: auto;   
}


h2{
    font-family: 'amelias';
    text-align: center;
    color: #0D0D0D;
    margin: auto;
}

nav {
    background-color: black;
    padding: 6px;
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
    font-family: math, sans-serif;
}

footer {
    text-align: center;
    background-color: #0D0D0D;
    padding: 4px;
}
footer > a:hover {
    color: rgb(205, 82, 205);
    text-decoration: underline;
}

.hidden {
    display: none;
}