@charset "UTF-8";
@font-face {
    font-family: "amelias";
    src: url(fonte/xilosa_.ttf) format(truetype);
}

body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace, serif;
}

.cabecalho {
    display: flow-root;
    padding-inline-start: 250px;
    font-size: x-large;
}

.principal {
    margin: 30px;
    display: flex;
    background-color: #EBF2F2;
}

img {
    margin-inline-start: 80px;
    padding-top: 40px;
}

h1 {
    font-family: 'amelias';
    text-align: center;
    color: #0D0D0D;
    margin-top: 100px;
    padding-inline-end: 50px;
}

h2{
    font-family: 'amelias';
    text-align: center;
    color: #0D0D0D;
}

li {
    line-height: 2.5;
    text-decoration: none;
    text-align: center;
    background-color: #0D0D0D;
    color: white;
    display: flow-root;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px 20px;

}
ul {
    list-style: none;
    line-height: 2;
    display: initial;
    text-align: center;
}
div.historia {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 15px;
    display: flow-root;
    background-color: #EBF2F2;
}