@charset "UTF-8";

@font-face {
    font-family: "amelias";
    src: url(fonte/xilosa_.ttf) format(truetype);
}

body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace, serif;
    margin: auto;   
}

.header {
    font-size: x-large;
    display: flex;
    margin: 0 auto;
    padding: 30px;
    flex-direction: column;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    align-items: center;
}

picture > img {
    min-width: 320px;
    max-width: 600px;
}

main {
    margin: 36px 27px 19px;
    margin-top: auto;
    display: flex;
    padding: 26px;
    box-shadow: 3px 4px 13px 0px #3a3a3a52;
    background-color: #a6a6a654;
}

div > h1 {
    font-family: 'amelias';
    text-align: center;
    color: #0D0D0D;
    margin: auto;   
    margin-top: 30px;
}

h1.history{
    text-align: center;
    font-family: 'amelias';
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 4px;
}

nav {
    background-color: black;
    padding: 6px;
    display: flex;
    justify-content: space-around;
}
nav > a:hover {
    background-color: #A6A6A6;
    color: #0D0D0D;
    border-radius: 5px;
    transition-duration: .5s;
    
}

a {
    color: white;
    text-decoration: none;
    font-family: math, sans-serif;
    padding: 5px;
    font-size: medium;
}

footer {
    text-align: center;
    background-color: #0D0D0D;
    padding: 4px;
}

footer > a:hover {
    background-color: #A6A6A6;
    color: #0D0D0D;
    border-radius: 5px;
    transition-duration: .5s;
}

.hidden {
    display: none;
}